<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <div class="d-lg-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center mb-4 mb-lg-0">
        <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
      </div>
    </div>
    <hr class="my-5">
    <div>
      <div class="card">
        <div class="card-header">
          Name
        </div>
        <div class="card-body">
          <%= simple_format @user.name %>
          <% #unless @user == current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォローを外す', user_relationships_path(@user.id), method: :delete %>
            <% else %>
              <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post %>
            <% end %>
          <% #end %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Profile
        </div>
        <div class="card-body">
          <%= simple_format @user.profile %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Hobby
        </div>
        <div class="card-body">
          <%= simple_format @user.hobby %>
        </div>
      </div>
    </div>
  </div>
</div>
